apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    url: http://192.168.90.4:9090
    basicAuth: false
    isDefault: true
    editable: false
    version: 1
